package view

import "github.com/thegeeklab/renovate-operator/internal/frontend/viewmodel"

templ statusBadge(status viewmodel.Status) {
	<span class={ status.BadgeClass() }>{ status.Label() }</span>
}
