{{ if . }}
<div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
  {{ range . }}
  <div
    class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-blue-400 {{ if .Ready }}border-l-4 border-l-green-500{{ else }}border-l-4 border-l-red-500{{ end }}"
  >
    <div class="min-w-0 flex-1">
      <div class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-sm font-medium text-gray-900 truncate">{{ .Name }}</p>
        <p class="truncate text-xs text-gray-500">
          Created: {{ .CreatedAt.Format "Jan 02, 2006" }}
        </p>
      </div>
    </div>

    <div class="flex-shrink-0">
      {{ if .Ready }}
      <span
        class="inline-flex items-center rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20"
        >Ready</span
      >
      {{ else }}
      <span
        class="inline-flex items-center rounded-full bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10"
        >Failed</span
      >
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>
{{ else }}
<div class="text-center py-6">
  <svg
    class="mx-auto h-12 w-12 text-gray-400"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"
    />
  </svg>
  <h3 class="mt-2 text-sm font-semibold text-gray-900">No GitRepos Found</h3>
  <p class="mt-1 text-sm text-gray-500">
    There are no repositories associated with this namespace.
  </p>
</div>
{{ end }}
